/*  your css code here. If applicable */
/* Background color using :root */
:root {
    background-color: rgb(135, 206, 235);
}


article p:first-child {
    color: white;
    background-color: black;
}

article p:nth-child(2) {
    color: black; /* default text color */
}

article p:last-child {
    color: red;
}

/* Unordered List Styling */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: gray;
    width: 50%;
    padding: 10px;
}

/* Every odd item white */
ul li:nth-child(odd) {
    background-color: white;
}

/* First and Last item font size 22px */
ul li:first-child,
ul li:last-child {
    font-size: 22px;
}


ul li:nth-last-child(3) {
    background-color: pink;
}